#friends {
    display: flex;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
}

#friends p {
    margin-right: 30px;
}

.friends {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-right: 20px;
}

.pending {
    min-width: 400px;
}

#friends button {
    margin-right: 10px;
}
