#myartworks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#myartworks h2 {
    margin-bottom: 20px;
}

#myartworks .artwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.decoration {
    width: 700px;
    height: 1px;
    background-color: grey;
}

#myartworks .artwork img {
    width: 200px;
    height: auto;
    border-radius: 0;
    margin: 30px;
}
